/**
 * Various overrides outside of the filmstrip to style the app to support a
 * tiled thumbnail experience.
 */
.tile-view {
    /**
     * Let the avatar grow with the tile.
     */
    .avatar-container {
        max-height: initial;
        max-width: initial;
    }

    #localVideoContainer{
        padding-top: 0 !important;
        .avatar-container{
            width: 27.5% !important;
        }
    }

    .displayNameContainer{
        visibility: visible;
        .displayname{
            left: 10px;
            width: fit-content;
            border: 1px solid #0D1317;
            background-color: #0D1317;
            border-radius: 5px;
        }
    }

    .videocontainer__toolbar{
        top: 0;
        .indicator-container{
            float: right;
            background: none;
            padding: 0;
            margin: 0;
            .toolbar-icon>div{
                width: 22px;
                height: 22px;
                align-items: center;
            }
        }
    }

    .toolbar-icon>div{ 
        margin-top: 5px;
        border: 1px solid #0D1317;
        border-radius: 37%;
        background-color: #0D1317;
    }
    
    @media only screen and (min-width: 701px){
        .toolbar-icon>div{ 
            padding: 10px;
        }

        .displayname {
            top: 90%;
        }

        .videocontainer {
            .indicator-container{
                margin-right: 10px;
            }
        }
    }

    @media only screen and (max-width: 1024px){
        .toolbar-icon>div{ 
            padding: 10px;
        }
    }

    @media only screen and (max-width: 900px){
        .toolbar-icon>div{ 
            padding: 8px;
        }
    }

    @media only screen and (max-width: 700px){
        .toolbar-icon>div{ 
            padding: 6px;
            margin-right: 7px;
        }

        .displayname{
            top: 80%;
            left: 10px;
            font-size: 8px;
        }
    }

    @media only screen and (max-width: 500px){
        .videocontainer {
            .indicator-container{
                margin-right: 7px;
            }
        }

        .toolbar-icon>div{ 
            padding: 2px;
            margin-right: 2px;
        }
        //.videocontainer__toolbar{ 
        //    top: auto;
        //    .indicator-container{
        //        float: left;
        //        .toolbar-icon>div{ 
        //            padding: 0px;
        //            border: none;
        //            background-color: transparent;
        //            margin-top: 0;
        //        }
        //    }
        //}

    }

    /**
     * Hide various features that should not be displayed while in tile view.
     */
    #dominantSpeaker,
    #filmstripLocalVideoThumbnail,
    #largeVideoElementsContainer,
    #sharedVideo,
    .filmstrip__toolbar {
        display: none;
    }

    #remoteConnectionMessage,
    .watermark {
        z-index: $filmstripVideosZ + 1;
    }

    /**
     * The follow styling uses !important to override inline styles set with
     * javascript.
     *
     * TODO: These overrides should be more easy to remove and should be removed
     * when the components are in react so their rendering done declaratively,
     * making conditional styling easier to apply.
     */
    #largeVideoElementsContainer,
    #remoteConnectionMessage,
    #remotePresenceMessage {
        display: none !important;
    }

    /**
     * Thumbnail popover menus can overlap other thumbnails. Setting an auto
     * z-index will allow AtlasKit InlineDialog's large z-index to be
     * respected and thereby display over elements in other thumbnails,
     * specifically the various status icons.
     */
    .remotevideomenu,
    .videocontainer__toptoolbar {
        z-index: auto;
    }
}
